<footer>
    <div class="footer mx-auto">
        <div class="row">
            <div class="col-md-4">
                <div class="title-column-footer">
                    <img src="/img/logo.png" alt="" style = "width: 210px">
                </div>
                <div class="body-column-footer">
                    <p class = "fw-bold">ĐỊA CHỈ: <span class = "fw-none">Phố Bùng, Bình Dương, Gia Bình, Bắc Ninh</span></p>
                    <p class = "fw-bold">SỐ ĐIỆN THOẠI: <span class = "fw-none">0335927773</span></p>
                    <p class = "fw-bold">Email: <span class = "fw-none">lecongnamgb@gmail.com</span></p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-column-footer fw-bold">
                                    MENU
                                </div>
                                <div>
                                    <div>
                                        <a>Trang chủ</a>
                                    </div>
                                     <div>
                                        <a>Sản phẩm</a>
                                    </div>
                                     <div>
                                        <a>Blog</a>
                                    </div>
                                     <div>
                                        <a>Liên hệ</a>
                                    </div>
                                    <div>
                                        <a>Về chúng tôi</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-column-footer fw-bold">
                                    TÀI KHOẢN
                                </div>
                                <div>
                                    <div>
                                        <a>Tài khoản</a>
                                    </div>
                                     <div>
                                        <a>Đăng xuất</a>
                                    </div>
                                     <div>
                                        <a>Đăng nhập</a>
                                    </div>
                                     <div>
                                        <a>Đăng ký</a>
                                    </div>
                                    <div>
                                        <a>Lịch sử mua hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="title-column-footer fw-bold">
                            BẢN TIN
                        </div>
                        <div>
                            <div style = "margin-bottom: 23px;">
                                Đăng ký email để nhận thông tin khuyến mãi mới nhất!
                            </div>
                            <div>
                                <input type="text" placeholder="Nhập email của bạn" class = "input-footer">
                                <button class = "button-footer btn btn-outline-danger">Đăng ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>