<div class="getOffer">
    <div class="getOffer-table mx-auto">
        <div class="getOffer-title fw-bold">
            <span>Đăng ký ngay để nhận thông báo khuyến mãi</span>
        </div>
        <div class="getOffer-body">
            <div class="getOffer-description">
                <p>Shop thường có khuyến mãi, đăng ký email ngay để nhận thông báo sớm nhất nhé!</p>
            </div>
            <div class = "getOffer-input">
                <input type="text" placeholder="Nhập email của bạn">
            </div>
            <div class = "getOffer-button">
                <button class = "fw-bold btn btn-outline-danger">
                    ĐĂNG KÝ
                </button>
            </div>
        </div>
    </div>
</div>