<div class="newArrivals">
    <div class = "newArrivals-body mx-auto d-flex">
        <div class="newArrivals-img">
            <img src="/img/arrival-bg.png" alt="">
        </div>
        <div class = "newArrivals-detail">
            <span class = "title-news pb-5" style = "font-size: 60px;">New Arrivals</span>
            <p class = "newArrivals-description pb-5">
                Bạn đã chán với những mẫu thiết kế hiện tại và muốn tìm hiểu những mẫu quần áo có thiết kế mới lạ? Hãy ghé qua khu vực hàng mới cập bến để xem thông tin chi tiết nhé!
            </p>
             <button class = "btn btn-outline-danger mt-3">Ghé qua ngay</button>
        </div>
    </div>
</div>