<div class="news">
        <div class="background-news">
            <img src="/img/slider-bg.png" alt="">
        </div>
        <div id="demo" class="carousel slide" data-bs-ride="carousel">    
    <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <span class = "title-news text-red">Sale 20% Off</span>
                        <br>
                        <span class = "title-news">Cho đơn hàng từ 300k</span>
                        <br>
                        <button class = "btn btn-outline-danger mt-3">Mua ngay</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <span class = "title-news text-red">Bộ sưu tập thu đông</span>
                        <br>
                        <span class = "title-news">Với mức giá hấp dẫn</span>
                        <br>
                        <button class = "btn btn-outline-danger mt-3">Mua ngay</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class = "container">
                        <span class="title-news text-red" >Black Friday</span>
                        <br>
                        <span class = "title-news" >Giảm giá lên đến 50%</span>
                        <br>
                        <button class = "btn btn-outline-danger mt-3">Mua ngay</button>
                    </div>
                </div>
            </div>
            <!-- Indicators/dots -->
            <ol class="carousel-indicators">
                <li data-bs-target="#demo" data-bs-slide-to="0" class="active indicator"></li>
                <li data-bs-target="#demo" data-bs-slide-to="1" class = "indicator"></li>
                <li data-bs-target="#demo" data-bs-slide-to="2" class = "indicator"></li>
            </ol>
        </div>
    </div>